<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdup.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bdup.entity.SysUser">
        <id column="userid" property="userid" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="nickname" property="nickname" />
        <result column="isadmin" property="isadmin" />
        <result column="enabled" property="enabled" />
        <result column="email" property="email" />
        <result column="dingding" property="dingding" />
        <result column="phone" property="phone" />
        <result column="czy" property="czy" />
        <result column="czsj" property="czsj" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        userid, username, password, nickname, isadmin, enabled, email, dingding, phone, czy, czsj
    </sql>

</mapper>
