<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdup.etl.mapper.DbOwnerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bdup.etl.entity.DbOwner">
        <id column="ownerid" property="ownerid" />
        <result column="targetowner" property="targetowner" />
        <result column="targetdbtype" property="targetdbtype" />
        <result column="dbid" property="dbid" />
        <result column="sourceowner" property="sourceowner" />
        <result column="tsspace" property="tsspace" />
        <result column="tsispace" property="tsispace" />
        <result column="czy" property="czy" />
        <result column="czsj" property="czsj" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ownerid, targetowner, targetdbtype, dbid, sourceowner, tsspace, tsispace, czy, czsj
    </sql>

</mapper>
